/*
  @Author : Fractalink Design Studio
  @Project : Hdfc 
  @Dev : Irfan Khan
  @Date : 07 July 2015;
*/


/*------------------------------------------------------------------------------------------------------------*/


/* Global Style */

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #191a1a;
    font-size: 12px;
    background-color: #3c7fb4;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

button:focus,
textarea:focus,
input:focus,
.btn:focus,
.btn:active:focus {
    outline: none;
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/* Base Style */

.mod-title {
    color: #172e9a;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}

.note {
    color: #747474;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 20px;
}

.note span {
    display: block;
}

.list-title {
    color: #172e9a;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 20px;
}

.list-data {
    color: #585858;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}

.lbl-info {
    margin-bottom: 20px;
}

.lbl-info .list-data {
    margin-bottom: 8px;
}

.lbl-info .list-title {
    margin-bottom: 0;
}

.lbl-into .list-data {
    margin-bottom: 0px;
}

.align-center {
    text-align: center;
}

.actionBtn.align-center .btn {
    float: none;
}

.line-break {
    display: block;
}

.link,
.link:hover {
    color: #747474;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    margin: 20px 0 0;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

.txt-grey {
    color: #585858;
}

.info-txt {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.static-cont p {
    margin-bottom: 20px;
}

.mainWrapper {
    position: relative;
    min-width: 768px;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    background-image: -o-linear-gradient(bottom, #041B44 0%, #3080B5 100%);
    background-image: -moz-linear-gradient(bottom, #041B44 0%, #3080B5 100%);
    background-image: -webkit-linear-gradient(bottom, #041B44 0%, #3080B5 100%);
    background-image: -ms-linear-gradient(bottom, #041B44 0%, #3080B5 100%);
    background-image: linear-gradient(to bottom, #041B44 0%, #3080B5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#041B44, endColorstr=#3080B5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#041B44, endColorstr=#3080B5)";
}

.sidebarSection {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: #002182;
}

.contentSection {
    position: relative;
    margin-left: 118px;
    /*overflow:hidden;*/
    display: block;
    margin-right: 20px;
}

.panelWrap {
    padding-top: 5px;
    /*overflow:hidden;*/
}


/* Basic Panel */

.panelWrap .sub-title {
    color: #fff;
    font-size: 14px;
    line-height: 12px;
    margin: 18px 0;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.panel {
    border: 1px solid #e7e7e7;
    margin: 8px 0 40px 0;
    overflow: hidden;
    border-radius: 8px;
    background: #ffffff;
}

.panel .panel-heading {
    padding: 10px 26px;
    background: #ffffff;
}

.panel .panel-body {
    padding: 20px 26px;
    position: relative;
}

.panel-body.no-panel-padding {
    padding: 0;
}


/* Panel with space */

.panel.panel-sm .form-wrap .form-list {
    margin-bottom: 10px;
}

.panel.panel-sm .form-wrap .form-list:last-child {
    margin-bottom: 20px;
}


/* Panel with bottom 0 space */

.panel.no-margin-btm  {
    margin-bottom: 0px;
}

.marTopBtm{
    margin: 10px 0;
}


/* Radio/ Checkbox Style */

.checkbox {
    position: relative
}

.checkbox label {
    background: transparent url("../images/sprite-checkbox.png") no-repeat scroll 0 2px;
    color: #3c4999;
    font-size: 12px;
    font-weight: 400;
    padding-left: 26px;
}

.checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.checkbox.checked label {
    background-position: 0 -64px;
}


/* Title With Icon */

.title-with-icon {
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: #172e9a;
    text-transform: uppercase;
    margin: 0px;
}

.title-with-icon span.icon {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0px 0px;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 10px;
}

.title-with-icon .text {
    display: block;
}

.title-with-icon .text span {
    display: block;
    line-height: 14px;
}

.title-with-icon .icon-limitsSummary {
    background-position: 0 0px;
}

.title-with-icon span.icon-rupee {
    background-position: 0 -73px;
}

.title-with-icon span.icon-limitsBreakup {
    background-position: 0 -205px;
}


/* Action Button */

.actionBtn .btn {
    margin-right: 15px;
}

.actionBtn .btn.last {
    margin: 0;
}

.actionBtn .btn-proceed,
.actionBtn .btn-decline {
    background: #002182 none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    padding: 8px 14px;
    text-transform: uppercase;
}

.actionBtn .btn-decline {
    background: #7f7f7f;
}

.actionBtn .icon-rightArrow {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0 -146px;
    display: inline-block;
    height: 10px;
    margin: 0 0 0 10px;
    position: relative;
    top: 1px;
    width: 10px;
}

/* action buttons in gridcontainer */

.gridContainer .actBtnWrap .act-btn, .gridContainer .actBtnWrap .act-btn:hover{
    background: rgba(0, 0, 0, 0) url("../images/sprite-innerPage.png") no-repeat scroll 5px -848px;
    color: #010101;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 0 0 10px;
    padding-top: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 40px;

}
.gridContainer .actBtnWrap .act-btn.btn-submit,
.gridContainer .actBtnWrap  .act-btn.btn-submit:hover{    
    background-position: 5px -927px;
}
.gridContainer .actBtnWrap .checkbox{
    display: block;
    margin-bottom: 0;
    padding: 0;
    width: 135px;
}
.gridContainer .actBtnWrap .checkbox label{
    font-size: 12px;
    color: #3d3d3d;
    background: url("../images/sprite-grid-checkbox.png") no-repeat 0 -58px transparent;
    padding-left: 20px;
}
.gridContainer .actBtnWrap .checkbox input[type=checkbox]{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.gridContainer .actBtnWrap .checkbox.checked label{
    background: transparent url("../images/sprite-grid-checkbox.png") no-repeat scroll 0 2px;
    color: #3d3d3d;
    font-size: 12px;
    text-align: right;
}
.gridContainer .actBtnWrap .checkbox a{
    color: #888888;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 115px;
}
.gridContainer .actBtnWrap .act-btn-block{
    border-left: 1px solid #dcdbdb;
}

/*Name Value Style */

.name-value {
    text-align: left;
}

.name-value .text-name {
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    display: block;
}

.name-value .text-value {
    font-size: 11px;
    line-height: 12px;
    color: #929090;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}


/* rupee icon */

.rupee-sign {
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
}


/* top and right border of li */

.top-right-border li {
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}


/* txt-with-bg */

.txt-with-bg {
    background: #5e5e5e none repeat scroll 0 0;
    border: medium none;
    border-radius: 16px;
    color: #ffffff;
    height: auto;
    line-height: normal;
    padding: 4px 0 4px 14px;
}

.txt-with-bg .text-name {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
}

.full-wid input {
    width: 100%
}


/* number list */

.num-list {
    margin-left: 12px;
}

.num-list ol {
    padding: 0;
}

.num-list ol li {
    list-style: inherit;
    color: #585858;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Login Style */

.loginPage {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.login-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.login-cont-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.left-section {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 392px;
}


/* Banner Carousel Style*/

.banner-carousel-wrap,
.banner-carousel-wrap .carousel,
.banner-carousel-wrap .carousel-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.banner-carousel-wrap .carousel .carousel-indicators {
    width: auto;
    left: 24px;
    bottom: 20px;
    margin-left: 0;
}

.banner-carousel-wrap .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    background-color: #322726;
}

.banner-carousel-wrap .carousel-indicators li.active {
    width: 14px;
    height: 14px;
    background-color: #b9b6b5;
    margin-right: 7px;
}

.banner-carousel-wrap .carousel-inner > .item {
    height: 100%;
}

.banner-carousel-wrap .carousel-inner > .item > img {
    height: 100%;
    max-width: auto;
}

.right-section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001142+0,001759+49,001759+65,00071c+100 */
    background: #001142;
    background-color: #001142;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMTE0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMTc1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzAwMTc1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDA3MWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #001142 0%, #001759 49%, #001759 65%, #00071c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001142), color-stop(49%, #001759), color-stop(65%, #001759), color-stop(100%, #00071c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #001142 0%, #001759 49%, #001759 65%, #00071c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #001142 0%, #001759 49%, #001759 65%, #00071c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #001142 0%, #001759 49%, #001759 65%, #00071c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #001142 0%, #001759 49%, #001759 65%, #00071c 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001142', endColorstr='#00071c', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#001142, EndColorStr=#00071c);
    /* IE6-8 */
    padding: 30px 26px 24px;
    width: 392px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.login-head {
    overflow: hidden;
}

.login-head .logo {
    float: left;
}

.login-head .logo a,
.login-head .logo img {
    display: block;
}

.login-head .login-nav-list {
    float: right;
    margin-top: 3px;
}

.login-head .login-nav-list ul li {
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 16px;
}

.login-head .login-nav-list ul li.last {
    margin-right: 0;
}

.login-head .login-nav-list ul li a {
    display: block;
    background: url(../images/sprite-login.png) no-repeat 0 0 transparent;
}

.login-head .login-nav-list ul li.icon-login-info a {
    background-position: 0 -66px;
}

.login-head .login-nav-list ul li.icon-login-call a {
    background-position: 0 -132px;
}

.login-head .login-nav-list ul li.icon-login-mail a {
    background-position: 0 -201px;
}

.login-head .close-virtual-keypad {
    float: right;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/sprite-login.png) repeat 0 -456px transparent;
    position: relative;
    z-index: 2;
    display: none;
}

.login-title {
    display: block;
    overflow: hidden;
    margin-top: 28px;
    text-align: left;
}

.login-title h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 100;
    margin: 0;
}

.login-title h2 span {
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.login-title h3 {
    color: #fff;
    font-size: 20px;
    line-height: 18px;
    margin: 0;
    text-transform: capitalize;
}

.login-panel .form-input {
    background: url(../images/bg_login.png) repeat 0 0 transparent;
    padding: 20px 20px 0;
    border-radius: 10px;
    margin-top: 28px;
    overflow: hidden;
}

.login-panel .form-section {
    overflow: hidden;
    position: relative;
}

.login-panel .form-section .form-group {
    margin-bottom: 22px;
    position: relative;
}

.login-panel .form-section .form-group label {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 6px;
    text-align: left;
}

.login-panel .form-section .form-group span {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 30px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 28px;
    width: 24px;
    z-index: 1;
}

.login-panel .form-section .form-group .form-control {
    border: 1px solid #717da0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    height: 32px;
    line-height: 16px;
    color: #fff;
    background: url(../images/bg_login.png) repeat 0 0 transparent;
}

.login-panel .form-action {
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
}

.login-panel .form-action ul li {
    float: left;
    margin-bottom: 12px;
    width: 50%;
}

.login-panel .form-action ul li.terms a {
    float: left;
}

.login-panel .form-action ul li.last {
    margin-right: 0;
    padding: 0 0 7px;
}

.login-panel .form-action ul li a,
.login-panel .form-action ul li label {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

.login-panel .form-action ul li.terms label {
    text-decoration: underline;
}

.login-panel .form-action ul li .checkbox {
    margin: 0;
}

.login-panel .form-action ul li a {
    display: block;
    float: right;
}

.login-panel .form-action ul li label {
    line-height: 18px;
}

.submit-btn {
    width: 84px;
    height: 84px;
    background: url(../images/sprite-login.png) no-repeat 0 -329px transparent;
    display: block;
    border: none;
}

.virtual-keypad {
    margin: 0px auto;
    width: 660px;
    height: 262px;
    display: none;
}

.virtual-keypad img {
    width: 100%;
}


/* Download section Banner */

.message-carousel-wrap {
    margin: 8px 16px;
    overflow: hidden;
    border-radius: 8px;
    background: #ffffff;
}

.message-carousel-cont {
    padding: 25px 15px 25px 30px;
    width: 780px;
    margin: 0 auto;
}

.message-carousel-wrap .carousel {
    position: static;
}

.message-carousel-wrap .carousel-control.right,
.message-carousel-wrap .carousel-control.left {
    background: url(../images/sprite-slider.png) no-repeat 5px 0 transparent;
    width: 38px;
    height: 40px;
    opacity: 1;
    text-shadow: none;
    top: 50%;
    margin-top: -20px;
    z-index: 10;
}

.message-carousel-wrap .carousel-control.right {
    background-position: 0px bottom;
}

.message-carousel-wrap .carousel-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: bold;
}

.message-carousel-wrap .carousel-desc {
    height: 220px;
    overflow: auto;
}

.message-carousel-wrap .carousel-desc p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
    color: #3d3d3d;
    font-weight: normal;
}

.message-carousel-wrap .carousel-desc p.last {
    margin-bottom: 0;
}

.message-carousel-wrap .carousel-inner img {
    width: 94%;
}


/* Virual Keypad Active */

.login-cont-wrap.virtual-keypad-active {
    overflow: hidden;
    z-index: 1
}

.login-cont-wrap.virtual-keypad-active .left-section {
    z-index: -1;
}

.login-cont-wrap.virtual-keypad-active .right-section {
    z-index: 1;
    width: auto;
    left: 0;
}

.login-cont-wrap.virtual-keypad-active .right-section .login-title h2 {
    float: left;
}

.login-cont-wrap.virtual-keypad-active .right-section .login-title h3 {
    margin: 62px 0 0 10px;
    float: left;
}

.login-cont-wrap.virtual-keypad-active .right-section .form-input {
    margin-right: 150px;
    margin-top: 10px;
    padding: 10px 20px 0;
}

.login-cont-wrap.virtual-keypad-active .right-section .form-group span {
    right: 51px;
}

.login-cont-wrap.virtual-keypad-active .right-section .form-section .form-group {
    float: left;
    padding-right: 50px;
    width: 50%;
}

.login-cont-wrap.virtual-keypad-active .form-action li {
    float: left;
    margin-right: 40px;
    width: auto;
}

.login-cont-wrap.virtual-keypad-active .right-section .form-action ul li.last {
    display: inline-block;
    float: none;
}

.login-cont-wrap.virtual-keypad-active .right-section .form-action ul li.last a {
    margin-top: 2px;
}

.login-cont-wrap.virtual-keypad-active .submit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 84px;
}

.login-cont-wrap.virtual-keypad-active .virtual-keypad {
    display: block;
}

.login-cont-wrap.virtual-keypad-active .close-virtual-keypad {
    display: block;
}

.login-cont-wrap.virtual-keypad-active .login-nav-list {
    display: none;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Sidebar Style */

.sidebarSection {
    width: 100px;
    background-image: -o-linear-gradient(bottom, #052A4F 34%, #3080B5 100%);
    background-image: -moz-linear-gradient(bottom, #052A4F 34%, #3080B5 100%);
    background-image: -webkit-linear-gradient(bottom, #052A4F 34%, #3080B5 100%);
    background-image: -ms-linear-gradient(bottom, #052A4F 34%, #3080B5 100%);
    background-image: linear-gradient(to bottom, #052A4F 34%, #3080B5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#07325D, endColorstr=#3080B5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#07325D, endColorstr=#3080B5)";
}

.sidebarSection .logo-wrap {
    display: block;
}

.logo-wrap a.logo {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    padding: 16px;
    text-align: center;
}

.logo-wrap a.logo img {
    text-align: center;
}

.sidebarSection .sidebar-list {
    display: block;
    overflow: hidden;
}

.sidebar-list ul li {
    border-bottom: 1px solid #6697bd;
    display: block;
}

.sidebar-list ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.sidebar-list ul li a:hover {
    text-decoration: none;
}

.sidebar-list ul li a span.sidebar-icon {
    display: block;
    padding: 16px 0 5px;
    text-transform: uppercase;
    line-height: 20px;
}

.sidebar-list ul li a span.sidebar-text {
    color: #7b93ac;
    display: block;
    font-size: 11px;
    font-weight: 500;
    padding: 0 5px 10px 5px;
    text-transform: uppercase;
}

.sidebar-list ul li a span.sidebar-text span {
    display: block;
}

.sidebar-list ul li a:hover span,
.sidebar-list ul li.active a span {
    color: #fff;
}

.sidebar-list ul li a span.sidebar-icon {
    background: transparent url("../images/sprite-nav.png") no-repeat scroll 40px -45px;
}

.sidebar-list ul li a:hover span.sidebar-icon.accounts,
.sidebar-list ul li.active a span.sidebar-icon.accounts {
    background-position: 40px 20px;
}

.sidebar-list ul li a span.sidebar-icon.statement {
    background-position: 40px -2922px;
}

.sidebar-list ul li a:hover span.sidebar-icon.statement,
.sidebar-list ul li.active a span.sidebar-icon.statement {
    background-position: 40px -2846px;
}

.sidebar-list ul li a span.sidebar-icon.disbursements {
    background-position: 40px -181px;
}

.sidebar-list ul li a:hover span.sidebar-icon.disbursements,
.sidebar-list ul li.active a span.sidebar-icon.disbursements {
    background-position: center -114px;
}

.sidebar-list ul li a span.sidebar-icon.newLimits {
    background-position: center -315px;
}

.sidebar-list ul li a:hover span.sidebar-icon.newLimits,
.sidebar-list ul li.active a span.sidebar-icon.newLimits {
    background-position: center -248px;
}

.sidebar-list ul li a span.sidebar-icon.submissions {
    background-position: center -449px;
}

.sidebar-list ul li a:hover span.sidebar-icon.submissions,
.sidebar-list ul li.active a span.sidebar-icon.submissions {
    background-position: center -382px;
}

.sidebar-list ul li a span.sidebar-icon.reports {
    background-position: center -583px;
}

.sidebar-list ul li a:hover span.sidebar-icon.reports,
.sidebar-list ul li.active a span.sidebar-icon.reports {
    background-position: center -516px;
}

.sidebar-list ul li a span.sidebar-icon.alerts {
    background-position: center -717px;
}

.sidebar-list ul li a:hover span.sidebar-icon.alerts,
.sidebar-list ul li.active a span.sidebar-icon.alerts {
    background-position: center -650px;
}

.sidebar-list ul li a span.sidebar-icon.logOut {
    background-position: center -857px;
}

.sidebar-list ul li a:hover span.sidebar-icon.logOut,
.sidebar-list ul li.active a span.sidebar-icon.logOut {
    background-position: center -787px;
}

.sidebar-list ul li a span.sidebar-icon.settings {
    background-position: center -991px;
}

.sidebar-list ul li a:hover span.sidebar-icon.settings,
.sidebar-list ul li.active a span.sidebar-icon.settings {
    background-position: center -924px;
}

.sidebar-list ul li a span.sidebar-icon.lmt_summary {
    background-position: 38px -325px;
}

.sidebar-list ul li a:hover span.sidebar-icon.lmt_summary,
.sidebar-list ul li.active a span.sidebar-icon.lmt_summary {
    background-position: 38px -252px;
}

.sidebar-list ul li a span.sidebar-icon.lmt_overview {
    background-position: 37px -467px;
}

.sidebar-list ul li a:hover span.sidebar-icon.lmt_overview,
.sidebar-list ul li.active a span.sidebar-icon.lmt_overview {
    background-position: 37px -396px;
}

.sidebar-list ul li a span.sidebar-icon.indent_initiate {
    background-position: 38px -620px;
}

.sidebar-list ul li a:hover span.sidebar-icon.indent_initiate,
.sidebar-list ul li.active a span.sidebar-icon.indent_initiate {
    background-position: 38px -541px;
}

.sidebar-list ul li a span.sidebar-icon.indent_status {
    background-position: 37px -770px;
}

.sidebar-list ul li a:hover span.sidebar-icon.indent_status,
.sidebar-list ul li.active a span.sidebar-icon.indent_status {
    background-position: 37px -695px;
}

.sidebar-list ul li a span.sidebar-icon.alert_notif {
    background-position: 42px -916px;
}

.sidebar-list ul li a:hover span.sidebar-icon.alert_notif,
.sidebar-list ul li.active a span.sidebar-icon.alert_notif {
    background-position: 42px -843px;
}

.sidebar-list ul li a span.sidebar-icon.alert_msg {
    background-position: 39px -1047px;
}

.sidebar-list ul li a:hover span.sidebar-icon.alert_msg,
.sidebar-list ul li.active a span.sidebar-icon.alert_msg {
    background-position: 39px -982px;
}

.sidebar-list ul li a span.sidebar-icon.dnload_uploadTemp {
    background-position: 38px -1194px;
}

.sidebar-list ul li a:hover span.sidebar-icon.dnload_uploadTemp,
.sidebar-list ul li.active a span.sidebar-icon.dnload_uploadTemp {
    background-position: 38px -1120px;
}

.sidebar-list ul li a span.sidebar-icon.dnload {
    background-position: 38px -2772px;
}

.sidebar-list ul li a:hover span.sidebar-icon.dnload,
.sidebar-list ul li.active a span.sidebar-icon.dnload {
    background-position: 38px -2698px;
}

.sidebar-list ul li a span.sidebar-icon.report_loanInt {
    background-position: 38px -1350px;
}

.sidebar-list ul li a:hover span.sidebar-icon.report_loanInt,
.sidebar-list ul li.active a span.sidebar-icon.report_loanInt {
    background-position: 38px -1272px;
}

.sidebar-list ul li a span.sidebar-icon.report_modelInt {
    background-position: 38px -1494px;
}

.sidebar-list ul li a:hover span.sidebar-icon.report_modelInt,
.sidebar-list ul li.active a span.sidebar-icon.report_modelInt {
    background-position: 38px -1422px;
}

.sidebar-list ul li a span.sidebar-icon.report_loanModelInt {
    background-position: 28px -1972px;
}

.sidebar-list ul li a:hover span.sidebar-icon.report_loanModelInt,
.sidebar-list ul li.active a span.sidebar-icon.report_loanModelInt {
    background-position: 28px -1895px;
}

.sidebar-list ul li a span.sidebar-icon.report_pendDoc {
    background-position: 38px -1654px;
}

.sidebar-list ul li a:hover span.sidebar-icon.report_pendDoc,
.sidebar-list ul li.active a span.sidebar-icon.report_pendDoc {
    background-position: 38px -1574px;
}

.sidebar-list ul li a span.sidebar-icon.report_RetConv {
    background-position: 36px -1817px;
}

.sidebar-list ul li a:hover span.sidebar-icon.report_RetConv,
.sidebar-list ul li.active a span.sidebar-icon.report_RetConv {
    background-position: 36px -1735px;
}

/* Submission Sidebar styling */

.sidebar-list ul li a span.sidebar-icon.sales_Info {
    background: transparent url("../images/sprite-nav.png") no-repeat scroll 37px -2127px;
}

.sidebar-list ul li a:hover span.sidebar-icon.sales_Info,
.sidebar-list ul li.active a span.sidebar-icon.sales_Info {
    background-position: 37px -2050px;
}

.sidebar-list ul li a span.sidebar-icon.stock_info {
    background-position: 37px -2285px;
}

.sidebar-list ul li a:hover span.sidebar-icon.stock_info,
.sidebar-list ul li.active a span.sidebar-icon.stock_info {
    background-position: 37px -2205px;
}

.sidebar-list ul li a span.sidebar-icon.stock_audit {
    background-position: 34px -2446px;
}

.sidebar-list ul li a:hover span.sidebar-icon.stock_audit,
.sidebar-list ul li.active a span.sidebar-icon.stock_audit {
    background-position: 34px -2363px;
}

.sidebar-list ul li a span.sidebar-icon.loan_info {
    background-position: 40px -2619px;
}

.sidebar-list ul li a:hover span.sidebar-icon.loan_info,
.sidebar-list ul li.active a span.sidebar-icon.loan_info {
    background-position: 40px -2532px;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Header Style */

.headerWrap {
    display: block;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.headerWrap .info-left {
    float: left;
    margin-top: 13px;
}

.headerWrap .info-left h2 {
    color: #002182;
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin: 8px 0 4px;
}

.headerWrap .info-left .summary-wrap {
    display: block;
}

.headerWrap .summary-wrap ul li {
    float: left;
    border-right: 1px solid #8f9090;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 4px 0 0;
    margin: 0 4px 0 0;
    text-transform: uppercase;
}

.headerWrap .summary-wrap ul li.last {
    border-right: none;
}

.headerWrap .info-right {
    float: right;
    margin: 18px 0px 0 0;
}

.headerWrap .info-right .profile-name {
    float: left;
    margin: 0 24px 0 0;
}

.headerWrap .profile-name label {
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin: 0 0 6px;
    text-align: left;
}

.headerWrap .profile-name label span {
    font-weight: bold;
}

.headerWrap .info-right .info-icon {
    float: right;
    margin-top: 4px;
}

.headerWrap .info-icon ul li {
    float: left;
    margin: 0 30px 0 0;
}

.headerWrap .info-icon ul li.last {
    margin: 0;
}

.headerWrap .info-icon ul li a {
    background: url(../images/sprite-header.png) no-repeat 0 0 transparent;
    width: 22px;
    height: 23px;
    text-indent: -99999px;
    float: left;
}

.headerWrap .info-icon ul li a.icon-home {
    background-position: 0 0;
}

.headerWrap .info-icon ul li a.icon-info {
    background-position: 0 -69px;
}

.headerWrap .info-icon ul li a.icon-call {
    background-position: 0 -140px;
}

.headerWrap .info-icon ul li a.icon-call-blue {
    background-position: 0 -210px;
}

.headerWrap .info-icon ul li a.icon-info-blue {
    background-position: 0 -280px;
}

.headerWrap .info-icon ul li a.icon-setting-blue {
    background-position: 0 -350px;
}

.headerWrap .info-icon ul li a.icon-login-blue {
    background-position: 0 -423px;
}

.headerWrap .info-icon ul li a.icon-msg-blue {
    background-position: 0 -567px;
}


/*------------------------------------------------------------------------------------------------------------*/


/* TabLink Wrap Style */

.main_menu {
    display: block;
    overflow: hidden;
}

.main_menu ul {
    border-bottom: 1px solid #00bcf8;
}

.main_menu ul li {
    text-align: center;
    padding: 0;
}

.main_menu ul li a {
    border-bottom: 2px solid #0a2853;
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    padding: 0 0 8px;
    text-transform: uppercase;
}

.main_menu ul li.active a,
.main_menu ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #00bcf8;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Table Wrap Style */

.tableWrap {
    display: block;
    overflow: hidden;
    min-height: 232px;
}

.table-content {
    padding-bottom: 24px;
}

.table-content table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-content table tr td {
    font-size: 12px;
    line-height: 14px;
    color: #3b3b3b;
    font-weight: normal;
    text-transform: uppercase;
    text-align: right;
    padding: 0 0 14px 0;
}

.contentSection .text-green,
.contentSection .custom-table .text-green {
    color: #038603;
}

.contentSection .text-blue {
    color: #172e9a;
}

.table-content table tr.last td {
    padding: 0;
}

.table-content table tr td.table-title {
    color: #282828;
    font-weight: bold;
    text-align: left;
}

.table-content table tr td.total-info {
    font-size: 14px;
    color: #2d44b0;
    font-weight: bold;
}


/* custom table */

.custom-table {
    margin: 8px 0;
    border-radius: 8px;
    background: #ffffff;
}

.custom-table .tbl-title label {
    font-size: 12px;
    line-height: 14px;
    color: #172e9a;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.custom-table>tbody>tr>td,
.custom-table>thead>tr>th {
    border-bottom: 1px solid #e7e7e7;
    padding: 9px 12px;
    vertical-align: top;
}

.custom-table>tbody>tr:last-child>td {
    border: none;
}

.custom-table .tbl-title {
    text-align: left;
}

.custom-table .tbl-title.text-right {
    text-align: right;
}

.custom-table .tbl-text {
    font-size: 12px;
    line-height: 12px;
    color: #191a1a;
    font-weight: normal;
}

.custom-table .tbl-text.disabled input {
    border: none;
    background: none;
}

.custom-table .tbl-text input {
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    padding: 3px 8px;
}

.custom-table .txt-caps {
    text-transform: uppercase;
}

.custom-table .text-amt,
.custom-table .text-amt input {
    color: #038603;
    text-align: right;
}

.custom-table .icn-edit {
    margin-right: 12px;
}

.gridContainer .table-striped.demoTbl > tbody > tr:nth-of-type(1) {
    background: #f6f6f6;
}

.icn-add {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -1009px;
    width: 21px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.icn-edit {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -1080px;
    width: 17px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.icn-del {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -1146px;
    width: 17px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.icn-save {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -1559px;
    width: 17px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.icn-cancel {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -1628px;
    width: 17px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.icn-eye{
    width: 24px;
    height: 14px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -1987px transparent;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
}
.icn-stock{
    width: 24px;
    height: 22px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -2083px transparent;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
}
.icn-notes{
    width: 16px;
    height: 22px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -2187px transparent;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
}
.icn-folder{
    width: 24px;
    height: 20px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -2289px transparent;
    text-indent: -9999px;
    display: inline-block;
    cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------*/


/* ListWrap Style */

.listWrap > ul > li {
    padding: 20px 16px;
    border-left: 1px solid #E7E7E7;
    min-height: 105px;
}

.listWrap > ul > li ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.listWrap > ul > li.first {
    border-left: none;
    padding: 20px 26px;
}

.listWrap .title-with-icon {
    padding-top: 26px;
}

.listWrap .block-title {
    font-size: 11px;
    line-height: 12px;
    color: #002182;
    margin-bottom: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}


/*------------------------------------------------------------------------------------------------------------*/


/* SelectBox Style */

.selectboxWrap {
    display: block;
    margin-bottom: 10px;
}

.selectboxWrap .icon-nextArrow {
    background: url("../images/sprite-header.png") no-repeat 0 -495px transparent;
    float: left;
    height: 23px;
    margin-top: 2px;
    text-indent: -99999px;
    width: 22px;
    border: none;
}


/*custum-selectBox style*/


/* custum-selectBox CSS*/

.custum-selectBox .select2-choice {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.custum-selectBox,
.custum-selectBox:focus,
.custum-selectBox.select2-container {
    color: #191a1a;
    font-size: 13px;
    height: auto;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

.custum-selectBox .select2-choice .select2-arrow {
    background: transparent;
    border-radius: 0;
    border: none;
}

.custum-selectBox .select2-choice .select2-arrow b {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -323px;
}

.custum-selectBox .select2-results {
    margin: 0;
    padding: 0;
}

.select2-drop {
    background: #00bcf9;
    border-radius: 10px;
}

.select2-display-none {
    box-shadow: none;
    border: none;
}

.select2-result {
    border-bottom: 1px solid #65d7fb;
}

.select2-results li:last-child {
    border: none;
}

.select2-results .select2-result-label {
    padding: 4px 7px 5px;
    color: #000;
}

.select2-results .select2-highlighted {
    background: #0c4371;
}

.select2-results .select2-highlighted .select2-result-label {
    color: #fff;
}

.custum-selectBox.select2-dropdown-open .select2-choice {
    box-shadow: none;
}
.fix-width-selectBox {
    width: 260px;
    margin-top: -14px;
}


/* main-selectBox CSS*/

.custum-selectBox.main-selectBox,
.form-control:focus,
.custum-selectBox.main-selectBox.select2-container {
    background: #0c4371;
    border: 1px solid #0c4371;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    height: auto;
    padding: 0;
    margin-bottom: 6px;
}

.custum-selectBox.main-selectBox.select2-container .select2-choice {
    color: #ffffff;
    background: #0c4371;
    border: none;
    height: auto;
    line-height: normal;
    padding: 4px 0 4px 14px;
    border-radius: 16px;
}

.custum-selectBox.main-selectBox.select2-container .select2-choice .select2-arrow {
    background: #0c4371;
    border: none;
}

.custum-selectBox.main-selectBox.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/select2.png') no-repeat 0 1px!important;
}


/* sub-selectBox CSS*/

.custum-selectBox.sub-selectBox,
.custum-selectBox.sub-selectBox.select2-container {
    background: #38577f;
    border: 1px solid #38577f;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    height: auto;
    padding: 0;
    margin-top: 15px;
}

.custum-selectBox.sub-selectBox.select2-container .select2-choice {
    color: #ffffff;
    background: #38577f;
    border: none;
    height: auto;
    line-height: normal;
    padding: 4px 0 4px 14px;
    border-radius: 16px;
}

.custum-selectBox.sub-selectBox.select2-container .select2-choice .select2-arrow {
    background: #38577f;
    border: none;
}

.custum-selectBox.sub-selectBox.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/select2.png') no-repeat 0 1px!important;
}


/* light-grey and disabled selectBox CSS*/

.custum-selectBox.disabled,
.form-control:focus,
.custum-selectBox.disabled.select2-container,
.custum-selectBox.light-grey,
.custum-selectBox.light-grey.select2-container {
    background: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    height: auto;
    padding: 0;
    margin-bottom: 6px;
}

.custum-selectBox.disabled.select2-container .select2-choice,
.custum-selectBox.light-grey.select2-container .select2-choice {
    color: #ffffff;
    background: #a8a8a8;
    border: none;
    height: auto;
    line-height: normal;
    padding: 4px 0 4px 14px;
    border-radius: 16px;
}

.custum-selectBox.disabled.select2-container .select2-choice .select2-arrow,
.custum-selectBox.light-grey.select2-container .select2-choice .select2-arrow {
    background: #a8a8a8;
    border: none;
}

.custum-selectBox.disabled.select2-container .select2-choice .select2-arrow b,
.custum-selectBox.light-grey.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/select2.png') no-repeat 0 1px!important;
}


/* dark-grey-selectBox CSS*/

.custum-selectBox.dark-grey,
.form-control:focus,
.custum-selectBox.dark-grey.select2-container {
    background: #5e5e5e;
    border: 1px solid #5e5e5e;
    border-radius: 18px;
    color: #ffffff;
    font-size: 14px;
    height: auto;
    padding: 0;
}

.custum-selectBox.dark-grey.select2-container .select2-choice {
    color: #ffffff;
    background: #5e5e5e;
    border: none;
    height: auto;
    line-height: normal;
    padding: 4px 0 4px 14px;
    border-radius: 16px;
}

.custum-selectBox.dark-grey.select2-container .select2-choice .select2-arrow {
    background: #5e5e5e;
    border: none;
}

.custum-selectBox.dark-grey.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/select2.png') no-repeat 0 1px!important;
}


/* Select box with text left  */

.panel.panel-sm .custum-selectBox.light-grey.select2-container {
    text-align: left;
}


/* Multiselect CSS START */

.select-tag-cont label {
    background: #172537 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    box-shadow: none;
    color: #0a80ab;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 3px 25px 3px 6px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.select-tag-cont .close {
    background: transparent url("../images/tagClose.png") no-repeat scroll right 0;
    color: #0a80ab;
    height: 7px;
    opacity: 1;
    position: absolute;
    right: 8px;
    text-shadow: none;
    top: 8px;
    width: 7px;
    filter: alpha(opacity=100);
}

.select2-search input,
.multiSelectBox .ms-search input {
    border-radius: 15px;
    box-sizing: border-box;
    margin: 3px 11px 0;
    padding-left: 30px;
    width: 92%;
    border:none;
    background: #fff url("../images/sprite-innerPage.png") no-repeat scroll 8px -2736px;
}

.select2-search input{
    min-height: 30px;
}

/* Multiselect with tag styling */

.multiSelectBox.ms-parent {
    height: 32px;
    line-height: 30px;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background: #0c4371 none repeat scroll 0 0;
    border-radius: 16px;
}

.multiSelectBox .ms-choice {
    border: medium none;
    color: #ffffff;
    background: transparent;
    width: 100%;
    padding: 4px 0 4px 14px;
}

.multiSelectBox .ms-choice .placeholder {
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.multiSelectBox .ms-choice > div,
.multiSelectBox .ms-choice > div.open {
    background: transparent url("../images/multiselect_arrow.png") no-repeat scroll right 14px;
    right: 25px;
}

.multiSelectBox .ms-drop {
    background: #00bcf9 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 16px !important;
    box-shadow: none;
    z-index: 101;
}

.multiSelectBox .ms-drop ul > li label {
    background: transparent url("../images/sprite-multiselect.png") no-repeat scroll 0 -57px;
    color: #191a1a;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    padding:0 0 10px 25px;
    position: relative;
    width: 100%;    
    border-bottom: 1px solid #65d7fb;
}

.multiSelectBox .ms-drop ul {
    padding: 0;
}

.multiSelectBox .ms-drop > ul li {
    cursor: pointer;
    margin: 0 10px;
}

.multiSelectBox .ms-drop input[type="checkbox"] {
    position: absolute;
    top: 4px;
    left: 0;
    opacity: 0;
}

.multiSelectBox .ms-drop > ul li.selected label {
    background-position: 0 0;
}


/* Multiselect CSS END */


/*------------------------------------------------------------------------------------------------------------*/


/* Footer Style */

.footer-wrap {
    overflow: hidden;
}

.footer-wrap .disclaimer-wrap {
    display: block;
}

.disclamer-wrap {
    position: fixed;
    left: 118px;
    bottom: 0;
    z-index: 2;
}

.disclaimer-wrap .disclaimer-title {
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    color: #A2A1A1;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
}

.disclaimer-wrap .icon-pluse {
    background: url("../images/sprite-footer.png") no-repeat 0px 0px transparent;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0px 0px 0px 6px;
}

.disclamer-wrap .message-toggle {
    background: #002182;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    clear: left;
    color: #ffffff;
    float: left;
    font-size: 11px;
    padding: 7px 25px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}

.disclamer-wrap .message-toggle .icon-pluse {
    background: transparent url("../images/sprite-footer.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 8px;
    margin: 0 0 0 3px;
    width: 8px;
}


/* footer message tab Style */

.tab-wrap {
    background: #002182;
    border-top-left-radius: 8px;
    padding: 5px;
    width: 450px;
    display: none;
}

.tab-wrap .tab-outer-cont {
    background: #fff;
    padding: 10px 20px 16px 13px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-wrap .nav-tabs {
    border: none;
    background: #fff;
    border-radius: 8px 8px 0 0;
}

.tab-wrap .nav-tabs li {
    text-transform: uppercase;
    width: 96px;
    text-align: center;
    border-bottom: 1px solid #002182;
    margin: 0;
}

.tab-wrap .tab-header .tab-link a {
    font-size: 12px;
    color: #7b7b7b;
    padding: 0 0 6px 0;
    display: block;
    font-weight: bold;
}

.tab-wrap .nav-tabs>li>a {
    margin: 0;
    padding: 0 0 8px 0;
    border-radius: 8px 8px 0 0;
    font-size: 12px;
    color: #7b7b7b;
    display: block;
    font-weight: bold;
    border: 0;
    line-height: normal;
}

.tab-wrap .nav-tabs>li:focus {
    outline: none;
}

.tab-wrap .nav-tabs>li.active>a {
    color: #191a1a;
    border: 0;
    border-bottom: 1px solid #002182;
    padding: 0 0 7px 0;
}

.tab-wrap .nav-tabs>li>a:hover,
.tab-wrap .nav>li>a:hover,
.tab-wrap .nav>li>a:focus {
    background: none;
}

.tab-wrap .nav-tabs>li>a:hover {
    border: none;
    border-bottom: 1px solid transparent;
    padding: 0 0 7px 0;
}

.tab-wrap .nav-tabs>li.active>a:hover {
    border-bottom: 1px solid #002182;
}

.tab-wrap .tab-pane {
    background: #fff;
    height: 140px;
    overflow: auto;
    margin: 10px 0 0 0;
}

.tab-wrap .tab-pane .list-cont {
    background: transparent url("../images/sprite-footer.png") no-repeat scroll 0 -54px;
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
}

.tab-wrap .tab-pane#tabOth .list-cont {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 4px -2806px; 
}

.tab-wrap .tab-pane .list-cont.last {
    margin: 0;
}

.tab-wrap .tab-pane .list-cont p {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #191a1a;
    margin: 0;
}

.tab-wrap .tab-pane .list-cont a {
    background: transparent url("../images/sprite-footer.png") no-repeat scroll 48px -218px;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    color: #002182;
    padding-right: 10px;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Messages Style */

.message-wrap {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;
}

.message-wrap .message-toggle {
    background: #002182;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffffff;
    font-size: 11px;
    padding: 7px 25px;
    text-transform: uppercase;
    z-index: 2;
    top: -29px;
    right: 0;
    position: absolute;
    width: 165px;
}

.message-wrap .arrow-icn {
    background: transparent url("../images/sprite-footer.png") no-repeat scroll 0 -175px;
    width: 9px;
    height: 6px;
    position: absolute;
    right: 25px;
    top: 12px;
}

.message-wrap.open .arrow-icn {
    background-position: 0px -119px;
}


/* Popup style */

.popup-wrap {
    top: 40%;
}

.popup-wrap .modal-content {
    border-radius: 14px;
    padding: 18px 25px;
}

.popup-wrap .modal-header {
    border: none;
    padding: 0
}

.popup-wrap .close {
    opacity: 1;
}

.popup-wrap .close span {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0 -1284px;
    width: 8px;
    height: 7px;
    display: block;
    text-indent: -9999px;
}

.popup-wrap .modal-body {
    padding: 0;
}

.popup-wrap .popup-title {
    font-size: 12px;
    color: #191a1a;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-wrap .popup-desc {
    color: #a2a1a1;
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0 0 0;
}

.popup-wrap .actionBtn {
    border: 0;
    text-align: center;
    padding: 15px 0 0 0;
}

.acc-bal-popup-wrap .acc-bal-det {
    font-size: 12px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    display: block;
}

.icn-desc-mod {
    overflow: hidden;
}

.icn-desc-mod .icn-popup {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0 -1284px;
    width: 21px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.icn-desc-mod .icn-popup {
    float: left;
    min-width: 23px;
    padding-right: 10px;
    width: 5%;
    margin: 0;
    box-sizing: border-box;
}

.icn-desc-mod .popup-desc {
    float: left;
    width: 95%;
    margin: 0;
}

.icn-desc-mod .icn-popup.icn-info {
    background-position: 0 -1420px;
}

.icn-desc-mod .icn-popup.icn-success {
    background-position: 0 -1491px;
}

.icn-desc-mod .icn-popup.icn-warning {
    background-position: 0 -1691px;
}

.icn-desc-mod .icn-popup.icn-noncritical{
    background-position: 0 -2806px;
}

.icn-desc-mod .popup-desc {
    line-height: 18px;
}

.acc-bal-popup-wrap .acc-bal-det span {
    font-size: 20px;
    line-height: 20px;
    color: #52be4e;
    font-weight: normal;
}

.acc-bal-popup-wrap .acc-bal-det .rupee-sign {
    font-size: 14px;
    line-height: 16px;
    color: #52be4e;
    font-weight: normal;
}

.submit-popup-wrap .popup-title {
    text-align: center;
    text-transform: uppercase;
}

.submit-popup-wrap .modal-footer.actionBtn .btn,
.logout-popup-wrap .modal-footer.actionBtn .btn,
.noNotification-popup-wrap .modal-footer.actionBtn .btn {
    width: 68px;
    margin-right: 5px;
    float: none;
}

.decline-indent-popup-wrap {
    top: 5%;
}

.decline-indent-popup-wrap .actionBtn {
    padding: 0 0 0 5px;
}

.decline-indent-popup-wrap .popup-desc {
    margin: 0;
}

.decline-indent-popup-wrap .popup-title {
    margin-bottom: 20px;
}

/*Grid Popup stying */
.gridPopup.popup-wrap{
    top: 25%;
}
.gridPopup .modal-header .close{
     margin-top: 0;
}
.gridPopup .popup-title{
    margin-top: 15px;
}
.gridPopup .summary-block{
    text-align: right;
}
.gridPopup .modal-header{
    margin-bottom: 10px;
    overflow: hidden;
}
.gridPopup .gridContainer .ui-th-column, 
.gridPopup .gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
    background: #f6f6f6;
}
.gridPopup .gridContainer .table-striped>tbody>tr:nth-of-type(even){
    background: #ffffff;
}
.gridPopup .gridContainer .table-striped>tbody>tr:nth-of-type(odd){
    background: #f6f6f6;
}
.gridPopup .ui-jqgrid tr.ui-row-ltr td.text-green{
    text-align: left;
}
.gridPopup .gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:last-child{
    text-align: right;
}

/* From styling */

.form-wrap .form-list {
    display: block;
    margin: 0 0 20px 0;
}

.form-list .sec-title {
    font-size: 11px;
    line-height: 13px;
    color: #585858;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
}

.form-wrap .form-list textarea {
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #cdcbcb;
    height: 100px;
    overflow: auto;
    vertical-align: top;
}

.form-wrap .select2-container .select2-choice > .select2-chosen {
    font-weight: normal;
    font-size: 12px;
}

.form-wrap .form-list input[type="text"] {
    background: #9e9e9e;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    border: none;
    padding: 4px 12px;
    border-radius: 18px;
    height: 27px;
    width: 100%;
    margin-bottom: 6px;
}

.form-wrap .form-list.bg-transparent input[type="text"] {
    background: transparent;
    border: 1px solid #9E9E9E;
    color: #444444;
}

.form-wrap input::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: #f0f0ef;
}

.form-wrap input:-moz-placeholder {
    /* Firefox 18- */
    color: #f0f0ef;
}

.form-wrap input::-moz-placeholder {
    /* Firefox 19+ */
    color: #f0f0ef;
}

.form-wrap input:-ms-input-placeholder {
    /* IE 10+ */
    color: #f0f0ef;
}

.form-wrap input::-ms-input-placeholder {
    /* Edge */
    color: #f0f0ef;
}

.form-wrap .bg-transparent input::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: #969594;
}

.form-wrap .bg-transparent input:-moz-placeholder {
    /* Firefox 18- */
    color: #969594;
}

.form-wrap .bg-transparent input::-moz-placeholder {
    /* Firefox 19+ */
    color: #969594;
}

.form-wrap .bg-transparent input:-ms-input-placeholder {
    /* IE 10+ */
    color: #969594;
}

.form-wrap .bg-transparent input::-ms-input-placeholder {
    /* Edge */
    color: #969594;
}


/*summary list CSS */

.summary-list > ul > li {
    padding: 5px 20px;
}


/*data-block CSS */

.data-block .data-title {
    font-size: 12px;
    line-height: 12px;
    color: #172e9a;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 10px 0 5px 0;
}

.data-block .data-val {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    color: #191a1a;
    display: block;
}


/* mod-calendar CSS*/

.mod-cal {
    position: relative;
}

.mod-cal .cal-cont {
    float: left;
    margin-bottom: -5px;
    margin-right: 15px;
    position: relative;
    width: 130px;
}

.mod-cal .cal-cont:nth-child(2) {
    margin-right: 0;
}

.mod-cal .cal-text {
    color: #929090;
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    text-transform: uppercase;
    float: left;
    margin: 8px 5px 0 0;
}

.mod-cal .input-group .form-control {
    padding: 0;
    height: 25px;
    border: 0;
    background: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 12px;
    color: #191a1a;
    cursor: pointer;
}

.mod-cal .input-group-addon {
    border: 0;
    background: none;
    padding: 0 5px;
    vertical-align: top;
    top: 6px;
    position: relative;
}

.mod-cal .icon-nextArrow {
    background: url("../images/sprite-header.png") no-repeat 0 -495px transparent;
    float: left;
    height: 23px;
    margin-top: 2px;
    text-indent: -99999px;
    width: 22px;
    border: none;
}

.mod-cal.with-bg .cal-cont {
    width: 160px;
}

.mod-cal.with-bg .form-control {
    background: #0c4371 none repeat scroll 0 0;
    border-radius: 16px;
    color: #8fa8b6;
    height: 32px;
    padding: 0 13px;
    width: 100px;
}


/* text-amount CSS */

.rup-block .amt-det {
    color: #172e9a;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 15px 0 0;
}

.rup-block .amt-val {
    color: #038603;
    /*#27b420*/
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}


/* Grid CSS */

.gridContainer {
    width: 100%;
}

.gridContainer .ui-jqgrid-bdiv {
    background: #f6f6f6;
}

.gridContainer .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f6f6f6;
}

.gridContainer .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}

.gridContainer input.cbox {
    left: 2px;
    position: relative;
    top: 2px;
}

.gridContainer .ui-th-column-header {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #172e9a;
    line-height: 42px;
    border: 0;
    border-bottom: 1px solid #e7e7e7;
}

.gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-left: 0 transparent;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.border-left,
.gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr.border-left {
    border-left: 1px solid #e7e7e7;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.border-right,
.gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr.border-right {
    border-right: 1px solid #e7e7e7;
}

.gridContainer .ui-row-ltr td.align-text-right,
.gridContainer .ui-th-column.align-text-right,
.gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-column.align-text-right {
    text-align: right;
}

.gridContainer .ui-th-column,
.gridContainer .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    text-align: left;
    vertical-align: top;
}

.gridContainer .ui-jqgrid tr.jqgfirstrow td {
    border: 0;
}

.gridContainer .ui-jqgrid .ui-jqgrid-htable th div {
    font-size: 13px;
    line-height: 14px;
    color: #172e9a;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 6px 8px 6px;
    height: auto;
    white-space: initial;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #191a1a;
    border: 0;
    border-top: 1px solid #e7e7e7;
    padding: 11px 6px 11px 6px;
    white-space: initial;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.text-green,
.gridContainer .ui-jqgrid tr.ui-row-ltr td.text-green input.editable {
    color: #038603;
    text-align: right;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.text-green.align-text-right{
    text-align-right
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.text-caps {
    text-transform: uppercase;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td.align-text-center {
    text-align: center;
    vertical-align: middle;
    background: #fff;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td .gridLink {
    border-bottom: 1px solid #c5c5c5;
    color: #038603;
}

.gridContainer .ui-jqgrid tr.ui-row-ltr td .yesNolink {
    border-bottom: 1px solid #c5c5c5;
    color: #191a1a;
}

.gridContainer .ui-jqgrid input.editable {
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    padding: 3px 8px;
}

.gridContainer .ui-jqgrid #incidentGrid tr.ui-row-ltr td .gridLink,
.gridContainer .ui-jqgrid #detailsGrid tr.ui-row-ltr td .gridLink {
    color: #191a1a;
}

.gridContainer .ui-jqgrid .s-ico {
    margin: 0px 6px;
    position: relative;
    width: auto;
    height: 15px;
    display: inline-block;
    top: 2px;
}

.gridContainer .ui-jqgrid .ui-icon-asc,
.gridContainer .ui-jqgrid .ui-icon-desc {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -398px;
    width: 9px;
    height: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 6px;
}

.gridContainer .ui-jqgrid .ui-icon-desc {
    background-position: 0 -334px;
    height: 6px;
    bottom: 0;
}

.gridContainer .ui-jqgrid .table-editable tr.ui-row-ltr td {
    padding: 8px 14px 8px 6px;
}

.gridContainer .ui-jqgrid .table-editable input.editable {
    padding: 2px 8px;
}

.gridContainer .ui-jqgrid .table-editable td span{
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    background: transparent;
    padding: 2px 8px;
    display: block;
    font-weight: normal;
}

.gridContainer .ui-jqgrid .footrow td {
    border-top-color: #e7e7e7;
    border-right-color: transparent;
    padding: 8px 14px 8px 6px;
}

.gridContainer .ui-jqgrid .footrow td span {
    border: 1px solid transparent;
    border-radius: 20px;
    background: #dcdcdc;
    padding: 2px 8px;
    display: block;
    font-weight: 800;
}

.gridContainer .salesTbl{
    table-layout: fixed;
}

.gridContainer .salesTbl tbody > tr td{
    padding: 9px;
    box-sizing: border-box;
}

/* gridContainer legends */

.panel.panel-legend {
    border: 0;
}

.gridContainer .ui-jqgrid tr.jqgrow.valid .legend {
    border-left: 8px solid #27b420;
}

.gridContainer .ui-jqgrid tr.jqgrow.failed {
    border-left: 8px solid #5b5c5c;
}


/* summary table css */

.table-summary .summary-header {
    border-bottom: 1px solid #e7e7e7;
    padding: 19px 12px 15px 12px;
}

.table-summary .summary-details {
    padding: 19px 12px 15px 12px;
}

.table-summary .icn-back {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -511px;
    width: 15px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.table-summary .sec-title {
    font-size: 16px;
    line-height: 16px;
    color: #172e9a;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.table-summary .padding-actbtn {
    padding: 25px 5px 11px;
}

.summary-block {
    margin: 0 14px;
}

.summary-block .summary-value {
    font-size: 11px;
    line-height: 12px;
    color: #929090;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.summary-block .summary-name {
    font-size: 14px;
    line-height: 16px;
    color: #172e9a;
    text-transform: uppercase;
    font-weight: bold;
}

.summary-details .selectboxWrap {
    margin-top: 25px;
}

.table-summary .summary-title {
    color: #a2a2a2;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 10px;
}

.table-summary .summary-title .icn-add {
    margin: 10px 10px 0 10px;
}

.table-summary.open .summary-title .icn-add {
    background-position: 0 -1212px;
}


/* setion summary */

.section-summary {
    overflow: hidden;
    padding: 19px 12px 0 0;
}

.section-summary .icn-back {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -511px;
    width: 15px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.section-summary .sec-title {
    font-size: 14px;
    color: #fff;
    vertical-align: top;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

.section-summary .summary-block {
    display: inline-block;
    border-left: 1px solid #384f71;
    padding-left: 10px;
    margin: 0 10px;
}

.section-summary .summary-block .summary-name {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.section-summary .name-value,
.act-btn-block {
    float: left;
}

.section-summary .name-value.border-right {
    padding: 10px 10px 0 0;
    border-right: 1px solid #384f71;
}

.section-summary .text-value {
    font-size: 12px;
    color: #fff;
    text-align: right;
}

.section-summary .text-name {
    color: #038603;
}

.section-summary .act-btn,
.section-summary .act-btn:hover {
    background: url('../images/sprite-innerPage.png') no-repeat 5px -848px;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    padding-top: 38px;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    text-align: center;
    z-index: 12;
    position: relative;
}

.section-summary .act-btn.btn-submit,
.section-summary .act-btn.btn-submit:hover {
    background-position: 5px -927px;
}

.section-summary .act-btn.btn-clear, 
.section-summary .act-btn.btn-clear:hover{
    background-position: 9px -2387px;
    width: 51px;
}
.section-summary .act-btn.delData, 
.section-summary .act-btn.delData:hover{
    background-position: 5px -2497px;
}

.section-summary.summary-with-select .selectboxWrap {
    margin: 15px 0 5px;
    overflow: hidden;
}

.selectboxWrap.section-summary {
    padding-top: 0;
}


/* datetimepicker  css*/

.datetimepicker {
    background: #fff;
    border: 5px solid #172e9a;
    border-radius: 8px;
    padding: 0;
    width: 330px;
}

.datetimepicker table {
    width: 100%;
}

.datetimepicker thead tr:first-child,
.datetimepicker thead tr:first-child th {
    background: #172e9a;
}

.datetimepicker thead tr:first-child th {
    border-radius: 0;
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover,
.datetimepicker table tr td.day:hover {
    background: none;
}

.datetimepicker thead tr:first-child th {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
}

.datetimepicker thead tr:nth-child(2) th {
    color: #172e9a;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 13px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
}

.datetimepicker td,
.datetimepicker .table-condensed>tbody>tr>td {
    font-size: 13px;
    font-weight: normal;
    color: #191a1a;
    border-bottom: 1px solid #e8e8e8;
    padding: 7px 5px;
    border-radius: 0;
}

.datetimepicker table tr td.old,
.datetimepicker table tr td.old:hover {
    background: #f2f2f2;
    border-radius: 0;
    color: #b1b2b2;
}


/*.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active.active:hover,*/

.datetimepicker table tr td.active,
.datetimepicker tr td.active,
.datetimepicker table tr td.active:hover {
    background: #00bcf8;
}

.datetimepicker table tr td.active.active {
    background: none;
}

.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover {
    background: #00bcf8;
    font-weight: bold;
    color: #fff;
    border-radius: 0;
    text-shadow: none;
    border-bottom: 1px solid #03abe1;
}

.datetimepicker .icon-arrow-left,
.datetimepicker .icon-arrow-right {
    background: url('../images/sprite-innerPage.png') no-repeat 0 -573px;
    width: 6px;
    height: 9px;
    display: block;
    margin: 0 10px;
}

.datetimepicker .icon-arrow-right {
    background-position: 0 -632px;
}

.datetimepicker.datetimepicker-dropdown-bottom-right:before,
.datetimepicker.datetimepicker-dropdown-bottom-left:before,
.datetimepicker [class*=" datetimepicker-dropdown"]:before,
.datetimepicker.datetimepicker-dropdown-bottom-right:after,
.datetimepicker.datetimepicker-dropdown-bottom-left:after,
.datetimepicker [class*=" datetimepicker-dropdown"]:after {
    display: none;
}


/* Download CSS */

.dnload-cont .icn-upDown {
    background: url('../images/sprite-innerPage.png') no-repeat -5px -686px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-indent: -9999px;
}

.dnload-cont.upload .icn-upDown {
    background-position: -115px -686px;
}

.download-link-cont ul li {
    list-style: outside none disc;
    margin: 0 0 15px;
}

.download-link-cont a{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: underline; 
}

.download-link-cont a:hover{       
    color: #172e9a;
}

/* pagination CSS */

.pagination-wrap {
    position: relative;
    height: 38px;
}

.pagination {
    position: absolute;
    left: 50%;
    width: 222px;
    top: 10px;
    z-index: 100;
    margin: 0 0 0 -111px;
}

.pagination>.active>a,
.pagination>.active>a:hover {
    background: #0c4371;
    border: 1px solid #0c4371;
    cursor: pointer;
}

.pagination>li>a {
    font-size: 12px;
    line-height: 12px;
    color: #191a1a;
    font-weight: normal;
}


/* ui-jqgrid - pagination */

.ui-jqgrid .pagination-wrap.ui-jqgrid-pager {
    position: relative;
    margin: 15px 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 2px 0 0;
}

.ui-jqgrid .ui-jqgrid-pager.pagination-wrap .ui-pg-table{
    min-width: 230px;
}

.pagination-wrap .ui-pg-input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #172e9a;
    line-height: 18px;
    padding: 0;
    text-align: center;
    font-size: 13px;
    height: 22px;
    width: 26px;
    margin: 0 3px;
}

.pagination-wrap .ui-pg-button span.ui-separator {
    margin: 0 6px;
}

.pagination-wrap .ui-pg-button:hover {
    padding: 1px;
}

.pagination-wrap .ui-pg-button .ui-icon-seek-first,
.pagination-wrap .ui-pg-button .ui-icon-seek-prev,
.pagination-wrap .ui-pg-button .ui-icon-seek-end,
.pagination-wrap .ui-pg-button .ui-icon-seek-next {
    background: url('../images/sprite_pager.png') no-repeat 0 0;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.pagination-wrap .ui-pg-button .ui-icon-seek-prev {
    background-position: 0 -40px;
}

.pagination-wrap .ui-pg-button .ui-icon-seek-end {
    background-position: 0 -120px;
}

.pagination-wrap .ui-pg-button .ui-icon-seek-next {
    background-position: 0 -80px;
}

.pagination-wrap .ui-state-disabled {
    background-image: none;
    opacity: 0.35;
}

.pagination-wrap .ui-pg-table td {
    font-size: 12px;
    line-height: 14px;
    color: #929090;
}

.pagination-wrap .ui-paging-info {
    font-weight: normal;
    height: 22px;
    margin: 0 4px 0 0;
}


/* scroll bar style */

.mCSB_scrollTools .mCSB_draggerRail {
    background: #999999;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background: #cccccc;
    width: 6px;
}


/* Tabs in Grid */

.grid-tab-wrap .nav-tabs {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    background-color: #f6f6f6;
}

.grid-tab-wrap .nav-tabs>li {
    display: inline-block;
    float: none;
}

.grid-tab-wrap .nav-tabs>li a {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    border-bottom: 2px solid transparent;
    background: transparent;
}

.grid-tab-wrap .nav-tabs>li a:hover {
    background-color: transparent;
    border: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    /*border:0;*/
    color: #000;
    background: transparent;
}

.grid-tab-wrap .nav-tabs>li.active>a {
    border: 0;
    background: transparent;
    border-bottom: 2px solid #172e9a;
}


/* instant-message */

.instant-msg {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
    z-index: 10;
}

.instant-msg .msg-info {
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    background: #556886;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    max-width: 300px;
}


/* Alerts - notification list */

.notifi-list-cont {
    margin: 8px 0;
    overflow: hidden;
    border-radius: 8px;
    padding: 20px 20px 20px 40px;
    background: #ffffff url("../images/sprite-footer.png") no-repeat scroll 16px -36px;
    position: relative;
}

.notifi-list-cont.with-badge {
    background-position: 16px -20px;
}

.notifi-list-cont.with-badge .list-data {
    font-weight: bold;
}

.notifi-list-cont.with-badge .badge-cont {
    position: absolute;
    top: 0;
    left: 12px;
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0 -1341px;
    width: 18px;
    height: 30px;
    display: block;
}

.notifi-list-cont .badge-cont {
    display: none;
}

.notifi-list-cont .list-data.last {
    margin-bottom: 0;
}

.notifi-list-cont .date-time-cont {
    display: block;
    text-align: right;
}

.notifi-list-cont .date-cont,
.notifi-list-cont .time-cont {
    font-size: 10px;
    line-height: 12px;
    color: #8d8d8d;
    text-align: right;
    display: inline-block;
}

.notifi-list-cont .time-cont {
    border-left: 1px solid #8d8d8d;
    margin: 0 0px 0 5px;
    padding: 0 0px 0 5px;
}

.notifi-list-cont .icn-del {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.fileUpload input.upload {
    border-radius: 40px;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 58px;
}


/* contact-us Page styling */

.contact-wrap .lbl-info {
    margin-bottom: 26px;
}

.contact-wrap .list-title {
    margin-bottom: 10px;
    font-size: 14px;
}

.contact-wrap .list-data {
    font-size: 14px;
}


/* Error Message styling */

.error-cont {
    overflow: hidden;
    padding: 20px 0;
}

.error-cont .pgError {
    font-size: 50px;
    line-height: 44px;
    margin-bottom: 15px;
}

.error-cont .pgerror-msg {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.error-cont .link {
    margin: 0;
}

.validate-cont {
    clear: both;
    overflow: hidden;
    text-align: center;
}

.validate-cont .error-msg {
    font-weight: 500;
    color: red;
    font-size: 12px;
    margin: 10px 0 0 0;
    display: block;
}

/* custom List */

.custom-list {
    position: relative;
}

.custom-list .txt-link {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 6px;
}

.custom-list .txt-link .icn-Report {
    background: transparent url("../images/sprite-innerPage.png") no-repeat scroll 0px -2579px;
    height: 31px;
    width: 27px;
    margin-left: 10px;
    display: inline-block;
}

.custom-list.active .txt-link .icn-Report {
    background-position: 0 -2656px;
}

.custom-list .select-listCont {
    position: absolute;
    right: 0;
    top: 40px;
    width: 214px;
    z-index: 5;
}

.custom-list .select-listCont {
    background: #172e9a;
    border-radius: 10px;
    padding: 2px;
}

.custom-list .select-listCont .title {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.custom-list .select-listWrap {
    background: #fff;
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.custom-list .select-list-cont {
    position: relative;
}

.custom-list .select-listWrap label {
    color: #191a1a;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 0 4px 30px;
    background: transparent url("../images/sprite-grid-checkbox.png") no-repeat scroll 0 -53px;
    display: inline-block;
    cursor: pointer;
}

.custom-list .select-list-cont.active label {
    background-position: 0 7px;
}

.custom-list .select-listWrap input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-list .actionBtn .btn {
    float: none;
}

.custom-list.retailConvReport .select-listCont {
    width: 245px;
}

.custom-list.modelIntReport .select-listCont {
    width: 280px;
}


/* Filter Toggle Styling */

.mod-toggle {
    overflow: hidden;
    background: #172e9a;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
    margin: 4px 0;
}

.mod-toggle .btn {
    background: transparent none repeat scroll 0 0;
    border-color: transparent;
    color: #7b83bc;
    font-size: 11px;
    margin: 0 2px;
    padding: 2px 12px;
    text-transform: uppercase;
}

.mod-toggle.btn-group>.btn.active,
.mod-toggle.btn-group>.btn:active,
.mod-toggle.btn-group>.btn:focus,
.mod-toggle.btn-group>.btn:hover {
    background: #0b174d;
    border-radius: 5px;
    color: #ffffff;
}

.mod-toggle.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* browse-section styling */
.browse-section .title{
    display: block;
    color: #464646;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 10px;
}
.browse-section .browse-inpt{
    position: relative;
}
.browse-section .browse-inpt .icon-attach
{
    position: absolute;
    right: 8px;
    top: 8px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -1773px;
    width: 15px;
    height: 15px;
}
.browse-section .browse-inpt input[type=text]{
     background: #9e9e9e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
}
.browse-section .fileUpload
{
    background: #172e9a;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
}
.browse-section input::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: #fff;
}

.browse-section input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.browse-section input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.browse-section input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.browse-section input::-ms-input-placeholder {
    /* Edge */
    color: #fff;
}

/*-------------- Loader styling --------------*/

.loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
}

.module-loader .loader-wrap {
    position: absolute;
    z-index: 2;
}

.loader-wrap .loader-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.loader-wrap .loader-icon {
    width: 26%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13%;
    margin-top: -114px;
    max-width: 350px;
}
.loader-wrap .loader-icon img{
    width: 100%;
}

/* check-listing-wrap styling */
.check-listing-wrap .listing-header{
    padding: 5px 20px;
}
.check-listing-wrap .listing-header .sec-title{
    font-size: 12px;
    color: #172e9a;
    text-transform: uppercase;
    margin: 15px 0 0 30px;
    float: left;
    font-weight: bold;
}
.check-listing-wrap .listing-body ul li
{
    border-top: 1px solid #ececec;
    padding: 15px 20px;
    position: relative;
}
.check-listing-wrap .listing-body ul li:nth-of-type(odd)
{
    background: #f6f6f6;
}

.check-listing-wrap input[type=checkbox] + label{
    font-size: 12px;
    color: #3d3d3d;
    background: url("../images/sprite-grid-checkbox.png") no-repeat 0 -58px transparent;
    padding-left: 30px;
}
.check-listing-wrap input[type=checkbox]{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.check-listing-wrap input[type=checkbox]:checked + label{
    font-size: 12px;
    color: #3d3d3d;
    background: url("../images/sprite-grid-checkbox.png") no-repeat 0 2px transparent;
}

/* Submission Styling */
.submissionWrap .sub-title{
    margin: 0 0 0 10px; 
}
.submissionWrap .linkBlue,.submissionWrap .linkBlue:hover{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin: 0 15px 9px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a5aab5;
}
.submissionWrap .linkBlue.active, .submissionWrap .linkBlue:hover.active{
    color: #00bcf8;
    font-weight: bold;
}
.submissionWrap .selectboxWrap {
    margin: 10px 0 0;
}

/* upload link in grid of submission page */
.gridContainer .ui-jqgrid tr.ui-row-ltr td .gridLink.upldLink{
    color: #999999;
}
.gridContainer .ui-jqgrid tr.ui-row-ltr td .icon-upload{
    width: 15px;
    height: 15px;
    background: url("../images/sprite-innerPage.png") no-repeat 0px -1870px transparent;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}


#stckAuditinPrcss .custum-selectBox{
    min-width: 198px;
}

/* Submission- loan wise stock information */

.submissionWrap .gridContainer #gbox_loanWiseStckInfoViewGrid.ui-jqgrid tr.ui-row-ltr td .gridLink,
.submissionWrap .gridContainer #gbox_loanWiseStckInfoGrid.ui-jqgrid tr.ui-row-ltr td .gridLink
{
    color: #3d3d3d;
}

/* Submission- stock audit upload page */

.stockAuditUpldWrap .browse-section{
    padding: 10px 25px 0px 25px;
    margin:10px 10px 0 10px;
}


/* Submission Page Summary */

.grid-details {
    padding: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.submission-summary > ul > li {
    border-left: 1px solid #e7e7e7;
}

.submission-summary > ul li ul li.no-border {
    border-left: none;
}

.submission-summary ul li ul li {
    padding: 20px 15px;
    border-left: 1px solid #e7e7e7;
}

.submission-summary .name-value .text-value {
    min-height: 25px;
}

.submission-summary .name-value .text-name {
    font-size: 14px;
}
