.virtual-keypad #login-keyboard-special table tr td button,
.virtual-keypad #login-keyboard-alpha table tr td button,
.virtual-keypad #login-keyboard-numeric table tr td button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin: 4px 2px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.virtual-keypad #login-keyboard-special table tr td button:hover,
.virtual-keypad #login-keyboard-alpha table tr td button:hover,
.virtual-keypad #login-keyboard-numeric table tr td button:hover{
    background-color: #083167;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#083167), to(#0e549a));
    background-image: -webkit-linear-gradient(top, #083167, #0e549a);
    background-image: -moz-linear-gradient(top, #083167, #0e549a);
    background-image: -ms-linear-gradient(top, #083167, #0e549a);
    background-image: -o-linear-gradient(top, #083167, #0e549a);
    background-image: linear-gradient(to bottom, #083167, #0e549a);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#083167, endColorstr=#0e549a);
}

.virtual-keypad #login-keyboard-alpha table tr td button.hoveringbutton,
.virtual-keypad #login-keyboard-alpha table tr td button.mixedbutton,
.virtual-keypad #login-keyboard-alpha table tr td button.capslockbutton {
    width: 140px;
}

.virtual-keypad #login-keyboard-alpha table tr td button.clearbutton {
    width: 84px;
}

.virtual-keypad #login-keyboard-alpha table tr td button.backbutton {
    width: 60px;
}