<div class="main_menu">
    <ul class="row">
        <li class="col-md-3 active">
            <a href="template_accountSummary_menu.html">ACCOUNTS</a>
        </li>
        <li class="col-md-4">
            <a href="template_initiateIndent.html">REQUEST INDENT</a>
        </li>
        <li class="col-md-4">
            <a href="#" class="message-toggle" data-toggle="modal" data-target="#access-modal-sm">NEW LIMIT</a>
        </li>
        <li class="col-md-4">
            <a href="#">SUBMISSIONS</a>
        </li>
        <li class="col-md-3">
            <a href="#">REPORTS</a>
        </li>
        <li class="col-md-3">
            <a href="template_alerts_impNotifications.html">ALERTS</a>
        </li>
        <li class="col-md-3">
            <a href="template_downloads_uploadTemplates.html">DOWNLOADS</a>
        </li>
    </ul>
</div>
<!-- popup group start -->
<div class="modal fade accessDenied-popup-wrap  align-center popup-wrap" id="access-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="mod-title">ACCESS DENIED</h4>
            </div>
            <div class="modal-body">                
                <span class="popup-desc">You require additional privileges to view this page</span>
            </div>
        </div>
    </div>
</div>

<!-- popup group end -->