<div class="modal fade popup-wrap" id="more-info-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
            </div>
            <div class="modal-body">
                <div class="icn-desc-mod">
                    <span class="icn-popup icn-info">&nbsp;</span>                    
                    <p class="popup-desc">Please contact your RM for correct account configuration. Please contact your RM for correct account configuration. Please contact your RM for correct account configuration. Please contact your RM for correct account configuration. Please contact your RM for correct account configuration. </p>
                </div>
            </div>
        </div>
    </div>
</div>
