<div class="modal fade popup-wrap gridPopup" id="stckStatusGrid-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
                <h4 class="popup-title pull-left">STOCK  STATUS DETAILS</h4> <div class="pull-right">
                  <div class="summary-block pull-left">
                    <span class="summary-value">Loan number</span>
                    <span class="summary-name">SAM 14070705468</span>
                  </div>
                </div>            
            </div>
             <div class="modal-body">
                <div class="gridContainer">
                    <table id="stckStatusGrid" class="table table-striped custom-table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
