<div class="modal fade logout-popup-wrap align-center popup-wrap" id="logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="mod-title">LOGOUT</h4>
            </div>
            <div class="modal-body">                
                <span class="popup-desc">Are you sure you want to logout?</span>
            </div>
            <div class="modal-footer actionBtn">                
                <a href="template_login.html" class="btn btn-proceed">yes</a>
                <a href="#" class="btn btn-decline" data-dismiss="modal">no</a>
            </div>
        </div>
    </div>
</div>
