<div class="sidebarSection">
    <div class="logo-wrap">
        <a class="logo" href="#">
            <img src="images/sidebar_logo.jpg" alt="sidebar logo">
        </a>
    </div>
    <div class="sidebar-list">
        <ul>
            <li>
                <a class="sidebar-list-item" href="template_submissions_salesInfo.html">
                    <span class="sidebar-icon sales_Info">&nbsp;</span>
                    <span class="sidebar-text"><span>Sales</span> <span>Information</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_submissions_stockInfoAuditTrail.html">
                    <span class="sidebar-icon stock_info">&nbsp;</span>
                    <span class="sidebar-text"><span>Stock</span> <span>Information</span></span>
                </a>
            </li>
            <li class="active">
                <a class="sidebar-list-item" href="template_submission_stockAudit_process.html">
                    <span class="sidebar-icon stock_audit">&nbsp;</span>
                    <span class="sidebar-text"><span>Stock</span> <span>Audit</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_submission_loanWise_stockInfo.html">
                    <span class="sidebar-icon loan_info">&nbsp;</span>
                    <span class="sidebar-text"><span>Loan Wise</span> <span>Stock</span><span>Information</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>
