<div class="modal fade decline-indent-popup-wrap popup-wrap" id="decline-indent-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="popup-title">ARE YOU SURE YOU WANT TO CANCEL THE INDENT ?</h4>                
            </div>
            <div class="modal-body ">            
                <div class="row">
                    <form>
                        <ul class="form-wrap">
                            <li class="form-list col-sm-24">
                                <label class="sec-title">Reason</label>
                                <div class="col-sm-13">
                                    <select class="form-control custum-selectBox light-grey">
                                        <option selected="selected">Select</option>
                                        <option>Delhi</option>
                                        <option>Banglore</option>
                                        <option>Kolkata</option>
                                        <option>Chennai</option>
                                        <option>Hydrabad</option>
                                        <option>Goa</option>
                                        <option>Jaipur</option>
                                        <option>Kanpur</option>
                                        <option>Mysore</option>
                                        <option>Trivandrum</option>
                                        <option>Trichur</option>
                                    </select>
                                </div>
                            </li>
                            <li class="form-list col-sm-24">
                                <label class="sec-title">Remarks</label>
                                    <textarea></textarea>      
                            </li>
                            <li class="form-list actionBtn col-sm-24">
                                <div class="">
                                    <button type="button" class="btn btn-proceed">submit</button>
                                </div>
                            </li>
                        </ul>
                    </form>
                    <div class="col-sm-24">
                        <label class="sec-title">DISCLAIMER</label>
                        <p class="popup-desc">In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler text commonly used to demonstrate the the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows viewers to focus on</p>                            
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
