<div class="sidebarSection">
    <div class="logo-wrap">
        <a class="logo" href="#">
            <img src="images/sidebar_logo.jpg" alt="sidebar logo">
        </a>
    </div>
    <div class="sidebar-list">
        <ul>
            <li class="active">
                <a class="sidebar-list-item" href="template_reports_loanWiseInterest.html">
                    <span class="sidebar-icon report_loanInt">&nbsp;</span>
                    <span class="sidebar-text"><span>LOAN WISE</span> <span>INTEREST</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_reports_modelWiseInterest.html">
                    <span class="sidebar-icon report_modelInt">&nbsp;</span>
                    <span class="sidebar-text"><span>MODEL WISE</span> <span>INTEREST</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_reports_loanWiseModelWiseInterest.html">
                    <span class="sidebar-icon report_loanModelInt">&nbsp;</span>
                    <span class="sidebar-text"><span>LOAN WISE</span> <span>MODEL WISE</span> <span>INTEREST</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_reports_pendingDocuments.html">
                    <span class="sidebar-icon report_pendDoc">&nbsp;</span>
                    <span class="sidebar-text"><span>PENDING</span> <span>DOCUMENTS</span></span>
                </a>
            </li>
            <li>
                <a class="sidebar-list-item" href="template_reports_retailConversion.html">
                    <span class="sidebar-icon report_RetConv">&nbsp;</span>
                    <span class="sidebar-text"><span>RETAIL</span> <span>CONVERSION</span></span>
                </a>
            </li>
        </ul>
    </div>
</div>