<div class="modal fade popup-wrap" id="warning-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
            </div>
             <div class="modal-body">
                <div class="icn-desc-mod">
                    <span class="icn-popup icn-warning">&nbsp;
                    </span>
                    <p class="popup-desc"> Warning Message Warning Message Warning Message Warning Message Warning Message Warning Message Warning Message Warning Message Warning Message Warning Message.</p>
                </div>
            </div>
        </div>
    </div>
</div>
