<div class="sidebarSection">
	<div class="logo-wrap">
		<a class="logo" href="#">
			<img src="images/sidebar_logo.jpg" alt="sidebar logo">
		</a>
	</div>
	<div class="sidebar-list">
		<!-- <ul>
		    <li class="active">
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon accounts">&nbsp;</span>
		    		<span class="sidebar-text">accounts</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon disbursements">&nbsp;</span>
		    		<span class="sidebar-text">disbursements</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon newLimits">&nbsp;</span>
		    		<span class="sidebar-text">new limits</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon submissions">&nbsp;</span>
		    		<span class="sidebar-text">submissions</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon reports">&nbsp;</span>
		    		<span class="sidebar-text">reports</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon alerts">&nbsp;</span>
		    		<span class="sidebar-text">alerts</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon logOut">&nbsp;</span>
		    		<span class="sidebar-text">log out</span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon settings">&nbsp;</span>
		    		<span class="sidebar-text">settings</span>
		    	</a>
		    </li>
		</ul> -->
		<!-- <ul>
			<li class="active">
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon lmt_summary">&nbsp;</span>
		    		<span class="sidebar-text"><span>Group Limit</span> <span>Summary</span> <span>(IF/TA)</span></span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="#">
		    		<span class="sidebar-icon lmt_overview">&nbsp;</span>
		    		<span class="sidebar-text"><span>Limits</span> <span>Overview</span> <span>(All)</span></span>
		    	</a>
		    </li>
		</ul> -->
		<ul>
			<li class="active">
		    	<a class="sidebar-list-item" href="template_initiateIndent.html">
		    		<span class="sidebar-icon indent_initiate">&nbsp;</span>
		    		<span class="sidebar-text"><span>Initiate</span> <span>indent</span></span>
		    	</a>
		    </li>
		    <li>
		    	<a class="sidebar-list-item" href="template_indentStatus_summaryDetails.html">
		    		<span class="sidebar-icon indent_status">&nbsp;</span>
		    		<span class="sidebar-text"><span>indent</span> <span>status</span></span>
		    	</a>
		    </li>
		</ul>
	</div>
</div>