<div class="modal fade accessDenied-popup-wrap  align-center popup-wrap" id="access-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="mod-title">ACCESS DENIED</h4>
            </div>
            <div class="modal-body">                
                <span class="popup-desc">You require additional privileges to view this page</span>
            </div>
        </div>
    </div>
</div>
