<div class="headerWrap">
	<div class="info-left">
		<div class="profile-name">
			<label>Welcome, <span>Pankhuri Pandey</span></label>
		</div>
		<div class="summary-wrap">
			<ul>
				<li>000001</li>
				<li>ROYAL ENFIELD MOTORS</li>
				<li>MUMBAI</li>
				<li class="last">17-JULY-2015</li>
			</ul>
		</div>
	</div>
	<div class="info-right">
		<!-- <div class="profile-name">
			<label>Welcome, <span>Pankhuri Pandey</span></label>
			<label>Last login 27/06/15, 11:22 AM IST</label>
		</div> -->
		<div class="info-icon">
			<ul>
				<!-- <li>
					<a class="icon-home" href="#">home</a>
				</li> -->
				<li>
					<a class="icon-call-blue" href="template_contact_us.html">call</a>
				</li>
				<li>
					<a class="icon-info-blue" href="template_about_us.html">info</a>
				</li>
				<li>
					<a class="icon-msg-blue" href="template_email_us.html">msg</a>
				</li>
				<li>
					<a class="icon-setting-blue" href="template_change_password.html">info</a>
				</li>
				<li class="last">
					<a class="icon-login-blue message-toggle" href="#" data-toggle="modal" data-target="#logout-modal-sm">info</a>
				</li>
			</ul>
		</div>
	</div>
</div>

    <!-- popup group start -->
    <div class="modal fade logout-popup-wrap align-center popup-wrap" id="logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="mod-title">LOGOUT</h4>
            </div>
            <div class="modal-body">                
                <span class="popup-desc">Are you sure you want to logout?</span>
            </div>
            <div class="modal-footer actionBtn">                
                <a href="template_login.html" class="btn btn-proceed">yes</a>
                <a href="#" class="btn btn-decline" data-dismiss="modal">no</a>
            </div>
        </div>
    </div>
</div>

    <!-- popup group end -->