<div class="modal fade popup-wrap" id="reqIndentGrid-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="summary-list">
                    <ul class="row">
                        <li class="col-sm-6">
                            <div class="data-block">
                                <h4 class="data-title">STOCK  AUDIT NUMBER</h4>
                                <span class="data-val">SAATYUIOID8939827</span>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <div class="data-block">
                                <h4 class="data-title">DEALER  QUEUE  DATE</h4>
                                <span class="data-val">05 May’ 15 </span>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <div class="data-block">
                                <h4 class="data-title">AUDITOR  QUEUE  DATE</h4>
                                <span class="data-val">09 May’ 15</span>
                            </div>
                        </li>
                        <li class="col-sm-6">
                            <div class="data-block">
                                <h4 class="data-title">STOCK STATUS UPDATE DATE</h4>
                                <span class="data-val">12 May’ 15 </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
