<div class="modal fade noNotification-popup-wrap  align-center popup-wrap" id="noNotification-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="mod-title">sorry,  No notifications available!</h4>
            </div>
            <div class="modal-footer actionBtn">                
                <button type="button" class="btn btn-proceed" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>
