<div class="modal fade submit-popup-wrap popup-wrap" id="submit-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="popup-title">are you sure you want to submit these?</h4>
            </div>
            <div class="modal-footer actionBtn">                
                <button type="button" class="btn btn-proceed">yes</button>
                <button type="button" class="btn btn-decline" data-dismiss="modal">no</button>
            </div>
        </div>
    </div>
</div>
