<div class="modal fade popup-wrap" id="noncritical-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
            </div>
             <div class="modal-body">
                <div class="icn-desc-mod">
                    <span class="icn-popup icn-noncritical">&nbsp;
                    </span>
                    <p class="popup-desc"> Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message. Non Critical Message.</p>
                </div>
            </div>
        </div>
    </div>
</div>
