<div class="dnload-cont upload">
    <!-- <span class="icn-upDown">&nbsp;</span> -->
    <div class="fileUpload icn-upDown btn blackBodr-btn">
		<!-- <span>browse</span> -->
		<input id="uploadBtn" class="upload" type="file">
	</div>
</div>