<div class="modal fade popup-wrap" id="success-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
            </div>
             <div class="modal-body">
                <div class="icn-desc-mod">
                    <span class="icn-popup icn-success">&nbsp;
                    </span>
                    <p class="popup-desc"> Indent request successfully initiated. Indent ID: I000460789. Indent request successfully initiated. Indent ID: I000460789. Indent request successfully initiated. Indent ID: I000460789. Indent request successfully initiated. Indent ID: I000460789. Indent request successfully initiated. Indent ID: I000460789.</p>
                </div>
            </div>
        </div>
    </div>
</div>
