<div class="modal fade bs-example-modal-sm popup-wrap" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="popup-title">Disclaimers</h4>
            </div>
            <div class="modal-body">
                <p class="popup-desc"> For detailed statement of account for any of these facilities, please contact your RM.</p>
            </div>
        </div>
    </div>
</div>
