<div class="modal fade popup-wrap" id="grid-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
                <h4 class="popup-title">Utilization Breakup</h4>              
            </div>
             <div class="modal-body">
                <div class="gridContainer">
                    <table id="utilzPopupGrid" class="table table-striped custom-table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
