<div class="disclamer-wrap">
    <a href="#" class="message-toggle" data-toggle="modal" data-target=".bs-example-modal-sm">
        <span>Disclaimer</span>
        <span class="icon-pluse"></span>
    </a>         
</div>
<div class="message-wrap">
    <a class="message-toggle" href="#">
        <span class="count">2</span>
        <span>new messages</span>
        <span class="arrow-icn">&nbsp;</span>
    </a>
    <div class="tab-wrap">
        <div class="tab-outer-cont">
            <ul class="nav nav-tabs">
               <li role="presentation" class="active"><a href="#tabImp" aria-controls="important" role="tab" data-toggle="tab">IMPortant</a></li>
                <li role="presentation"><a href="#tabOth" aria-controls="others" role="tab" data-toggle="tab">OTHERS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tabImp">
                    <ul>
                        <li class="list-cont">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                        <li class="list-cont">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane tabScroll mCustomScrollbar" id="tabOth">
                    <ul>
                        <li class="list-cont">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                        <li class="list-cont">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                        <li class="list-cont">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                        <li class="list-cont last">
                            <p>Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.Dear user, your TOD is going to expire on 31-12-2015. Kindly bring down the balances.</p>
                            <a href="#">Click here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
