<div class="modal fade acc-bal-popup-wrap popup-wrap" id="acc-bal-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <label class="acc-bal-det">Account in overdue by <span> <span class="rupee-sign fa fa-inr">&nbsp;</span>43202906.81</span>
                </label>
                <label class="acc-bal-det">Available balance less than requested amount by <span> <span class="rupee-sign fa fa-inr">&nbsp;</span>32202906.81</span></label>
                <label class="acc-bal-det">Limit renewal pending</label>
            </div>
        </div>
    </div>
</div>
