<div class="login-wrap">
            <div class="login-cont-wrap virtual-keypad-ctive">
                <div class="left-section">
                    <div class="banner-carousel-wrap">
                        <div id="banner-slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#banner-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#banner-slider" data-slide-to="1"></li>
                                <li data-target="#banner-slider" data-slide-to="2"></li>
                                <li data-target="#banner-slider" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="images/banner1.jpg" alt="Chania">
                                </div>
                                <div class="item">
                                    <img src="images/banner1.jpg" alt="Chania">
                                </div>
                                <div class="item">
                                    <img src="images/banner1.jpg" alt="Flower">
                                </div>
                                <div class="item">
                                    <img src="images/banner1.jpg" alt="Flower">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="login-head">
                        <div class="logo">
                            <a href="#">
                                <img src="images/login_logo.jpg" alt="logo">
                            </a>
                        </div>
                        <div class="login-nav-list">
                            <ul>
                                <!-- <li class="icon-login-home"><a href="#">&nbsp;</a></li> -->
                                <li class="icon-login-info"><a href="template_about_us.html">&nbsp;</a></li>
                                <li class="icon-login-call"><a href="template_contact_us.html">&nbsp;</a></li>
                                <li class="icon-login-mail last"><a href="template_email_us.html">&nbsp;</a></li>
                            </ul>
                        </div>
                        <a href="#" class="close-virtual-keypad">
                        </a>
                    </div>
                    <div class="login-title">
                        <h2>
                               <span class="welcome">Welcome to</span>
                                eSMART
                             </h2>
                        <h3>Dealer Finance Portal</h3>
                    </div>
                    <div class="login-panel">
                        <div class="form-section-wrap">
                            <form id="userLogin" class="form-section">
                                <div class="form-input">
                                    <div class="form-group">
                                        <label for="login">User Id</label>
                                        <input type="email" class="form-control" id="login">
                                    </div>
                                    <div class="form-group">
                                        <label for="loginpassword">Password</label>
                                        <input type="password" class="form-control" id="loginpassword">
                                        <span class="sign"> ? </span>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <ul>
                                        <li>
                                            <div class="checkbox">
                                                <label for="virtualKeypad">
                                                    <input type="checkbox" id="virtualKeypad"> use virtual keyboard
                                                </label>
                                            </div>
                                        </li>
                                        <li class="last">
                                            <a href="template_forgot_password.html">forgot password ?</a>
                                        </li>
                                        <li class="terms">
                                            <div class="checkbox checked">
                                                <label for="termcondition">
                                                    <input type="checkbox" checked="checked" id="termcondition"> <a href="#" class="tandc">terms &amp; conditions</a>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a href="template_accountSummary_menu.html" class="submit-btn" type="submit">&nbsp;</a>
                            </form>
                        </div>
                    </div>
                    <div class="virtual-keypad">
                         <img src="images/virtualkeyboard.png" alt="">
                    </div>
                </div>
            </div>
        </div>